@charset "UTF-8";
.button-basic, .button-primary, .button-secondary, .button-tertiary, .button-verified {
  border: none;
  padding: 10px 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-primary {
  color: #fff;
  border-radius: 10px;
  background-color: #36f;
}

.button-primary:hover {
  background-color: #039;
}

.button-secondary {
  background-color: #fff;
  border-radius: 10px;
}

.button-tertiary {
  background-color: #2da449;
  border-radius: 10px;
}

.button-tertiary:hover {
  background-color: #1a8333;
}

.button-verified {
  background-color: #2da449;
  border-radius: 5px;
  padding: 0 8px;
  line-height: 18px;
  margin-left: 5px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 10px;
}

.header {
  padding: 30px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  height: 70px;
}

.header-nav {
  margin-left: 247px;
  font-size: 14px;
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
}

.header-nav li {
  margin-left: 12px;
}

.header-nav li a {
  color: #172b4d;
}

.header-nav li a .for-nrn {
  color: #2da449;
  font-weight: bold;
}

.header-nav .button-primary {
  padding: 10px 15px;
}

.header-nav .button-secondary {
  padding: 10px 15px;
  border: 1px solid #e4e4e4;
}

.logo {
  margin-top: -10px;
  width: 162px;
}

.form-search {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -10px;
  border: 1px solid #ced4da;
  border-radius: 10px;
  height: 45px;
  padding: 0 5px;
  -webkit-box-shadow: 3px 3px 10px -6px #000000;
          box-shadow: 3px 3px 10px -6px #000000;
}

.form-search .search-btn {
  width: 300px;
  padding: 0;
  height: 40px;
  border: none;
}

.form-search .search-btn:focus {
  border: 1px solid #fff;
  outline-offset: 0px;
  outline: none;
}

.form-search .search-icon {
  padding: 11px 0;
}

.button-basic, .button-primary, .button-secondary, .button-tertiary, .button-verified {
  border: none;
  padding: 10px 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-primary {
  color: #fff;
  border-radius: 10px;
  background-color: #36f;
}

.button-primary:hover {
  background-color: #039;
}

.button-secondary {
  background-color: #fff;
  border-radius: 10px;
}

.button-tertiary {
  background-color: #2da449;
  border-radius: 10px;
}

.button-tertiary:hover {
  background-color: #1a8333;
}

.button-verified {
  background-color: #2da449;
  border-radius: 5px;
  padding: 0 8px;
  line-height: 18px;
  margin-left: 5px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 10px;
}

.hero-wrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.3))), url(../Images/pexels-tatiana-fet-1105766.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(../Images/pexels-tatiana-fet-1105766.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  height: 450px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text-box {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-115%, -115%);
          transform: translate(-115%, -115%);
  color: #fff;
}

.hero-text-box h2 {
  color: #e0e0e0;
  line-height: 30px;
}

.hero-text-box .search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #dfe1e5;
  border-radius: 10px;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 7px;
  width: 125%;
  margin: 25px 0 1rem 0;
}

.hero-text-box .search-input {
  height: 60px;
  padding: 10px 22px;
  width: 100%;
  border: none;
  border-radius: 10px;
}

.hero-text-box .search-input:focus {
  border: 1px solid #fff;
  outline-offset: 0px;
  outline: none;
}

.hero-text-box .button-tertiary {
  height: 50px;
  border: none;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}

.button-basic, .button-primary, .button-secondary, .button-tertiary, .button-verified {
  border: none;
  padding: 10px 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-primary {
  color: #fff;
  border-radius: 10px;
  background-color: #36f;
}

.button-primary:hover {
  background-color: #039;
}

.button-secondary {
  background-color: #fff;
  border-radius: 10px;
}

.button-tertiary {
  background-color: #2da449;
  border-radius: 10px;
}

.button-tertiary:hover {
  background-color: #1a8333;
}

.button-verified {
  background-color: #2da449;
  border-radius: 5px;
  padding: 0 8px;
  line-height: 18px;
  margin-left: 5px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 10px;
}

.status {
  padding-top: 60px;
}

.status .container .row .info-card {
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.status .container .row .info-card img {
  width: 200px;
  height: 200px;
}

.status .container .row .info-card h2, .status .container .row .info-card p {
  color: rgba(0, 0, 0, 0.85);
}

.status .container .row .info-card h2 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
}

.status .container .row .info-card p {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  padding: 0 5px;
  line-height: 1.5;
}

.status .container .row .info-card .button-primary {
  text-transform: uppercase;
  font-weight: 700;
  height: 40px;
}

.categories {
  padding: 60px 0px;
}

.categories h2,
.categories h3 {
  font-weight: 700;
}

.categories h2 {
  font-size: 29px;
}

.categories h3 {
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.categories p {
  margin-top: 5px;
}

.categories .box {
  position: relative;
  color: #fff;
}

.categories .box img {
  width: 244px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  background: #000;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html, body {
  min-width: 1140px;
  font-family: 'lato';
}

p {
  font-size: 14px;
  font-family: 'lato';
  color: #172b4d;
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin-bottom: 0.5em;
  margin-top: 0;
  line-height: 40px;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 20px;
}

a {
  color: #000;
  cursor: pointer;
}

.container-fluid {
  margin: 15px;
}

.container {
  width: 92%;
  margin: 0 auto;
  padding: 0 15px;
}

.border-line {
  min-height: 1px;
  background-color: #e4e4e4;
  margin-top: 30px;
}

.box {
  padding: 1%;
}

.hero {
  position: relative;
}

#premium h2,
.featured h2 {
  margin-bottom: 0;
  font-weight: 700;
  line-height: 40px;
  font-size: 29px;
}

#premium p,
.featured p {
  margin-top: 5px;
}

#premium h5,
.featured h5 {
  font-size: 1.1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  text-transform: capitalize;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

#premium h5:hover,
.featured h5:hover {
  color: #36f;
}

#premium .box span,
.featured .box span {
  color: #36f;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  margin: 5px 0;
}

#premium .box img,
.featured .box img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  background: #000;
}

#premium .box .formatting,
.featured .box .formatting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#premium .box .formatting p,
.featured .box .formatting p {
  line-height: 0.5;
  margin-left: 5px;
  font-size: 0.8rem;
}

.floatup {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.floatup:hover {
  -webkit-box-shadow: 3px 3px 10px -6px #000000;
          box-shadow: 3px 3px 10px -6px #000000;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.box span {
  color: #36f;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  margin: 5px 0;
}

.native-banner {
  background: #ebecf0;
  padding: 40px 0;
}

.native-banner .container .row a:hover {
  color: #003399;
}

.native-banner .container .row .box img {
  width: 100%;
  height: 250px;
  border-radius: 8px;
}

.native-banner .container .row .box h2 {
  font-size: 29px;
  font-weight: 700;
  margin-top: 15px;
}

.company-info {
  background-color: #dadada;
  padding: 60px;
}

.property-required {
  background: #3ddb85;
}

.footer-top ul {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}

.footer-top ul li {
  display: inline-block;
  margin-top: 5px;
}

.footer-top ul li a {
  padding-right: 15px;
  position: relative;
}

.footer-top ul li a::after {
  content: "•";
  color: #172b4d;
  font-size: 14px;
  right: 5px;
  position: absolute;
}
/*# sourceMappingURL=style.css.map */